/*
Theme Name: Emporio Theme
Author: Weblabor
Author URI: http://www.weblabor.mx
Description: Theme created for emporio
Version: 0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
}

a {
  color: #ffa628
}

a:hover {
  text-decoration: none;
  color: #ffa628
}

.home header {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
}

body:not(.home) header {
  background: #000;
}

h1, h2, h3 {
  font-weight: lighter;
}

h1 b, h2 b, h3 b, 
h1 strong, h2 strong, h3 strong,
.text-b b, .text-b strong {
  color: #ffa628;
}

.navbar.emporio .logo {
  width: 254px;
}

.navbar.emporio ul.nav li {
  margin: 20px 0;
}

.navbar.emporio ul.nav li a {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
}

.navbar.emporio ul.nav li a:hover {
  background-color: transparent !important;
  font-weight: bold;
  color: #FFD54F;
}

.navbar.emporio ul.nav li.current-menu-item a {
  background-color: #FFD54F;
  color: #000;
  margin:  0 10px;
}

.navbar.emporio ul.nav li.current-menu-item a:hover {
  background-color: #FFD54F !important;
  font-weight: normal;
  color: #000;
}


.navbar.emporio .icon-bar {
  background: #fff;
}

@media(min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}

.mobile-menu {
  display: none;
}

.mobile-menu .navbar {
  margin: 0;
  background: #000;
}

.mobile-menu ul.nav li {
  padding: 0 !important;
}

.mobile-menu .logo {
  height: 30px;
  width: auto !important;
}

.front-page {
  position: relative;
}

.front-page .nosotros {
  width: 40%;
  text-align: center;
  margin: 100px auto 0;
}

.front-page .nosotros h2 {
  margin-bottom: 30px;
}

.front-page .slider {
  width: 100%;
}

.front-page .columnas {
  margin-top: 50px;
  margin-bottom: 50px;
}

.front-page .columnas h3 {
  margin-bottom: 15px;
  text-align: center;
}

.edecanes h2 {
  margin-bottom: 35px;
  text-align: center;
}

.edecanes .edecan {
  position: relative;
  height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
}

.edecanes .edecan img {
  height: 100%;
  max-width: none;
}

.edecanes .edecan .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px #000;
}

.edecanes .edecan .text h3 {
  color: #ffa628;
  font-size: 30px;
}

.edecanes .edecan a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.front-page .columnas p {
  text-align: justify;
}

header .cities ul {
  float: right;
  padding: 30px 0 0 0;
  margin-bottom: -5px;
}

header .cities ul li {
  display: inline-block;
}

header .cities ul li a {
  color: #FFD54F;
  padding: 5px 10px;
  text-transform: uppercase;
}

header .cities ul li a:hover {
  background: #FFD54F;
  color: #000;
  text-decoration: none;
}

.edecanes .cities {
  display: flex;
  margin: 0 -20px;
  margin-bottom: 100px;
}

.edecanes .cities a, .paginator-button a {
  display: inline-block;
  padding: 10px 20px;
  border:  2px solid #FFD54F;
  color: #000;
  font-weight: bold;
  margin: 0 20px;
}

.edecanes .cities a:hover, .paginator-button a:hover {
  background: #FFD54F;
  color: #fff;
}

.paginator {
  margin: 30px 0;
}

.clear {
  clear: both;
}

.front-page .cita, .small-width-center {
  width: 40%;
  margin: 50px auto;
  font-size: 18px;
}

.gradient {
  height: 250px;
  width: 100%;
  background: linear-gradient(#000, transparent);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.icono-space {
  position: relative;
  text-align: center;
  min-height: 120px;
  display: flex;
  align-items: center;
}

.icono-space img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 120px;
}

.small-width-center .icono-space {
  min-height: 180px;
}

.small-width-center .icono-space img {
  height: 180px;
}

.icono-space p, .icono-space h2 {
  margin: 0;
}

.icono-space h2 {
  width: 100%;
  font-size: 45px;
  font-weight: bold;
  color: #ffa628;
}

.single-edecan {
  background: #ffa827;
}

.single-edecan .description, .single-edecan .photo {
  text-align: center;
  padding: 80px;
}

.single-edecan .row {
  align-items: center;
}

.single-edecan .description {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  background-position-y: 10%;
}

.single-edecan .description h1 {
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  color: #000;
}
.single-edecan .description .table {
  display: flex;
  flex-wrap: wrap;
}
.single-edecan .description .table span {
  display: inline-block;
  padding: 5px;
  width: calc(50% - 20px);
  flex-basis: 50%;
}

.single-edecan .description .table span.left {
  text-align: right;
  text-transform: uppercase;
  font-weight: lighter;
}

.single-edecan .description .table span.right {
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

.single-edecan .photo img {
  width: 100%;
}

.paddings {
  padding: 30px 0;
}

.map {
  height: 250px;
}

.sucursales .sucursal h4 {
  margin-bottom: 15px;
}

.sucursales .sucursal .map {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #FFD54F;
}
.content .wpcf7-form {
  padding: 30px 20px 0;
  background: #f9f9f9;
  border: 1px solid #ddd;
  margin: 20px 0;
}
.content .wpcf7-form input, .content .wpcf7-form textarea {
  width:  100%;
  margin: 5px 0;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
}

img {
  max-width: 100%;
}

footer {
  background: #000;
  color: #bbb;
  padding: 30px;
}

footer a, footer a:hover {
  color: #fff;
}

footer .redes .fa {
  margin-right: 15px;
  color: #FFD54F;
  font-size: 25px;
  margin-top: 15px;
}

footer .logo {
  text-align: center;
}

footer .logo img {
  width: 60%;
  max-width: 230px;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer .line-left {
  border-left: 1px solid #FFD54F;
}

footer .text-1 {
  width: 80%;
  margin: 0 auto;
}

.page-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 990px) {
  footer .line-left {
    border-left: none;
  }
  footer .text-1, footer .text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  #app {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .front-page .nosotros, .front-page .cita {
    width: 80%;
  }
  footer .text-1, footer .text-2 {
    text-align:  center;
  }
}

@media (max-width: 500px) {
  header {
    position: relative !important;
  }
}

@media (max-width: 350px) {
  .single-edecan .description, .single-edecan .photo {
    padding: 10px;
  }
  .single-edecan .description .table span {
    flex-basis: 100%;
  }
  footer {
    padding: 10px;
    font-size: 11px;
  }
}

/* Images */
.entry-content img,
.comment-content img,
.widget img {
  max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large {
  max-width: 97.5%;
  width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
  height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.size-full{
  border: 1px solid #ddd;
  padding: 5px;
  margin: 10px;
}
.alignleft {
  float: left;
  margin-right: 30px;
}
.alignright {
  float: right;
  margin-left: 30px;
}
p img,
.wp-caption {
  margin-top: 0.4em;
}
.wp-caption {
  background: #eee;
  margin-bottom: 1.625em;
  max-width: 96%;
  padding: 9px;
}
.wp-caption img {
  display: block;
  margin: 0 auto;
  max-width: 98%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  color: #666;
  font-family: Georgia, serif;
  font-size: 12px;
}
.wp-caption .wp-caption-text {
  margin-bottom: 0.6em;
  padding: 10px 0 5px 40px;
  position: relative;
}
.wp-caption .wp-caption-text:before {
  color: #666;
  content: '\2014';
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-right: 5px;
  position: absolute;
  left: 10px;
  top: 7px;
}
.content {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: justify;
}
.content .metadata {
  color: #777;
  margin-bottom: 30px;
}
.content .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content .gallery img {
  border: none !important;
  max-width: 70%;
}
.cont-padd {
  padding-bottom: 30px;
}

@media screen and (max-width: 800px){ 
  .content .gallery .gallery-item {
    width: 50% !important;
  }
}


@media screen and (max-width: 500px){ 
  .alignleft, .alignright {
    float: none;
    display: block;
    margin: 10px auto;
  }
  .content .gallery .gallery-item {
    width: 100% !important;
  }
}

.dralia-opinions {
  margin:  0 auto;
}

.services .unit {
  position:  relative;
  height: 200px;
  background-position: center;
  background-size: 100% auto;
  margin-bottom: 30px;
}

.services .unit a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.services .unit h3 {
  text-shadow: 1px 1px #000;
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 20px;
}
.whatsapp {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background: url('assets/images/WhatsApp.png');
}
